# Variabel & Tipedata

In [ ]:
nama = "Ridwan" #string
umur = 19 #integer
ipk = 3.75 #float
mahasiswa_aktif = True #booled

print(nama)
print(umur)
print(ipk)
print(mahasiswa_aktif)

Ridwan
19
3.75
True

# Struktur Kontrol

In [ ]:
#Percabangan
nilai = 60

if nilai >= 81:
    print("A")
elif nilai >= 61:
  print("B")
else:
  print("C")

C

In [ ]:
#Perulangan
for angka in range(6):
  print(angka + 1)

1
2
3
4
5
6

In [ ]:
hitung = 1
while hitung < 5:
  print(hitung)
  hitung += 1

1
3

# Fungsi

In [ ]:
def greet(name):
  return f"Hello, {name}"

print(greet("Rizky"))

Hello, Rizky

# Struktur Data

In [ ]:
#Tuple

colors = ("merah","kuning","hijau")
for color in colors:
  print("Warna : " + color)

Warna : merah
Warna : kuning
Warna : hijau

In [ ]:
#list

fruits = ["apel","jeruk","mangga"]
fruits.remove("apel")
for fruit in fruits:
  print(fruit)

jeruk
mangga

In [1]:
#dictionary

data = {"Nama depan :" : "arden", "Nama Belakang :" : "Yolandra", "Umur :" : 19}
for key, value in data.items():
  print(key, value)

Nama depan : arden
Nama Belakang : Yolandra
Umur : 19

In [ ]:
#set

numbers = {1,2,3,3,4,5,5}
print(numbers)

{1, 2, 3, 4, 5}